/* 要記得去scss/_colors.scss 添加 */
:root {
  --demo: #0baf2c;
  --primary: #007C36;
  --secondary: #8FC31F;
  --tertiary: #6E461A;
  --gray: #757575;
  --err: #EE5151;
  --font: #454545;
  --bg: #FDF9F2;
  --white: #fff;
}
:root.dark {
  --demo: #810b0b;
  --primary: #007C36;
  --secondary: #8FC31F;
  --tertiary: #6E461A;
  --gray: #757575;
  --err: #EE5151;
  --font: #454545;
  --bg: #FDF9F2;
  --white: #fff;
}
