$demo: var(--demo);
$primary: var(--primary);
$secondary: var(--secondary);
$tertiary: var(--tertiary);
$gray: var(--gray);
$err: var(--err);
$font: var(--font);
$bg: var(--bg);
$white: var(--white);
